@media only screen and (max-width: 600px) { /* mobile */
   body {
       font-size: 19px;
   }
}

@media only screen and (max-width: 1200px) and (min-width: 601px) { /* tablet */
   body {
       font-size: 17px;
   }
}

a {
    color: #3776ab;
    text-decoration: none;
}

a:hover {
    color: black; /* TODO: not working when hovering over title in top bar */
}

pre {
    white-space: pre-wrap;
}

.w3-blue {
    background-color: #3776ab !important;
}

.w3-code {
    border-left-color: #3776ab;
}
